# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template


target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timeing.properties
.mvn/wrapper/maven-warpper.jar
**/mvnw
**/mvnw.cmd
**/.mvn
**/target/
.idea
**/.gitignore